@model Dementors.Model.Feedback
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<fieldset class="form-control-feedback">
    <h2 class="form-control-feedback-h2">Feedback</h2>
    @using (Html.BeginForm())
    {
        <p>
            <div class="form-control-feedback-userid-label">
                @Html.LabelFor(x => x.UserId)
            </div>
            <div class="form-control-feedback-userid-input">
                @Html.EditorFor(x => x.UserId)
            </div>
        </p>
        <p>
            <div class="form-control-feedback-text-label">
                @Html.LabelFor(x => x.Text)
            </div>
            <div class="form-control-feedback-text-input">
                @Html.TextAreaFor(x => x.Text)
            </div>
        </p>
        <p>
            <div class="feedback-button-submit">
                <button type="submit">Send Feedback</button>
            </div>

        </p>
    }
</fieldset>
