body{
    margin: 0;
    background-color: gray;
}
#mainHeader {
	background: black;
	height: 60px;
	width: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: inline-block;
	overflow: hidden;
}

#siteNav {
	text-align: left;
	list-style: none;
	padding-left: 0px;
}

#siteNav h1 {
	color: #fff;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	display: inline-block;
	margin-top: 10px;
	font-family: monospace;
	font-size: 30px;
}

#siteNav ul {
	display: inline-block;
	background-color: black;
	margin: auto;
}

#siteNav li {
	display: inline-block;
	padding: 20px;
	text-align: right;
	font-family: fantasy;
}
#siteNav li a{
	text-decoration: none;
	color: white;
}
#siteNav li a:hover{
	color: grey	;
}
#siteNav li .login_{
	margin-left: 600px;
	background-color: #FFF;
	                 -moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
	color: black;
}

#siteNav li .login_:hover{
	background-color:gray;
}

.navbar {
	position: absolute;
    top: 0;
}

#wrapper-createform{
    margin: 30px auto 0;
}

.form-control{
    width: 300px;
    height: auto;
    float: left;
}

.form-control-feedback-h2 {
    
}

.form-control-feedback-userid-label {
    width: 100%;
    float: left;
}

.form-control-feedback-userid-input {
    width: 100%;
    float: left;
}

.form-control-feedback-text-label {
    width: 100%;
    float: left;
}

.form-control-feedback-text-input {
    width: 100%;
    height: 120px;
    float: left;
}

.feedback-button-submit {
    
}
