/*body, html{
	height: 100%;
	margin: 0px auto;
	padding: 0px auto;
}*/
.wrapperMyPage{
	width: 100%;
	 margin: 0 auto;
	 height: auto;
	 min-height: 100%;
}
#session{
	width: 350px;
	height: 200px;
	background-color: white;
	margin-top: 250px;
	margin-left: 100px;
}
.information {
	width: 350px;
	height: 200px;
	background-color: white;
	margin-top: -225px;
	margin-left: 900px;
}
