<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/Login.css">
	<title></title>
</head>

<body>
<div class="wrapper">
	<form>
		<div class="container">
			<label for="uname"><b>Username</b></label>
			<input type="text" id="uname" placeholder="Enter Username" name="uname" required>

			<label for="psw"><b>Password</b></label>
			<input type="password" id="password" placeholder="Enter Password" name="psw" required>

			<input id="btnlogin " type="button" value="login">
		</div>
	</form>
</div>
</body>
