<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Dementors</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/mypage.css" type="text/css" media="screen, projection" />

</head>
<body>
<div class="wrapper">
	<header id="mainHeader">
		<nav id="siteNav">
			<div class="">
				<h1><a href="/Home"></a>DEMENTORS</h1>
				<ul class="navbar">
					<li><a href="/MyPage" title="Dine stats">Min Side</a></li>
					<li><a href="/ShowSession" title="Dine trænings sessioner">Mine Sessioner</a></li>
					<li><a href="/Feedback/Create" title="Giv Feedback">Feedback</a></li>
					<li><a href="/WorkoutSession/Save" title="Gem træning">Træning</a></li>
					<li><a href="/Contact" title="contact us" class="last">Kontakt</a></li>
					<li><button class="login_" type="button" name="Login">Login</button></li>
				</ul>
			</div>
		</nav>
	</header> 
</div>
</body>
</html>
@RenderBody()
