@using Microsoft.AspNetCore.Rewrite.Internal
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Dementors</title>
	<link rel="stylesheet" href="css/main.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="css/mypage.css" type="text/css" media="screen, projection" />

</head>
<body>
<div class="wrapper">
	<header id="mainHeader">
		<nav id="siteNav">
			<div class="">
				<h1>DEMENTORS</h1>
				<ul class="navbar">
					<li><a href="/ShowSession" title="Dine stats">Min Side</a></li>
					<li><a href="/MyPage" title="Dine trænings sessioner">Mine Sessioner</a></li>
					<li><a href="/Home" title="planning resources">111111</a></li>
					<li><a href="/Home" title="Our community">2222222</a></li>
					<li><a href="/Home" title="contact us" class="last">Kontakt</a></li>
					<li><button class="login_" type="button" name="Login">Login</button></li>
				</ul>
			</div>
		</nav>
	</header> 
</div>
</body>
</html>
@RenderBody()
