@using System.Collections
@Model object
@{
    ViewBag.Title = "MyPage";
    Layout = "_Layout";
}
<div class="wrapperMyPage">
	<div id="information">
		<h2>Information</h2>
		@{
			foreach (var user in ViewBag.users)
			{
				<form action="/MyPage/users">
					<p>
						<label for="Name">Name</label>
						<input class="edit" type="text" value="@user.Name" />
					</p>
					<p>
						<label for="City">City</label>
						<input class="edit" type="text" value="@user.City" />
					</p>
					<p>
						<label for="Zip">Zip</label>
						<input class="edit" type="text" value="@user.Zip" />
					</p>
					<p>
						<label for="Phone">Phone</label>
						<input class="edit" type="text" value="@user.Phone" />
					</p>
					<input class="gem" type="submit" value="Gem" onsubmit="SaveButton" />
				</form>
			}
		}
	</div>
</div>